WEATHER_DB_PATH=/data/weather.sqlite3
TELEGRAM_BOT_TOKEN=
WEB_BIND_PORT=18080
WEATHER_TIMEZONE=Asia/Omsk
LOG_DIR=/logs
TELEGRAM_ADMIN_IDS=
TELEGRAM_DAILY_USER_IDS=
TELEGRAM_DAILY_TIMES=07:00,20:00
TELEGRAM_STALE_MINUTES=5
TELEGRAM_MONITOR_INTERVAL_SECONDS=60
TELEGRAM_DYNAMIC_NAME_ENABLED=1
TELEGRAM_DYNAMIC_NAME_PREFIX=Погода в КП "Аист"
TELEGRAM_DYNAMIC_NAME_INTERVAL_MINUTES=10
